/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.jumbotron {
	background-color:white;
	text-align: center;
}

jumbotron p {
	text-align: center;
}
